name: SFUNet CI WIN

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.10.3]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        py -m pip install --upgrade pip
        py -m pip install flake8 pytest
        py -m pip install -r requirements.txt
    - name: Install testing dependencies
      run: |
        py -m pip install hypothesis>=4.13.0 codecov pytest-cov
    - name: install
      run: |
        py setup.py develop --user
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        py -m flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest ./tests 
